body {
  background-color: rgb(27, 27, 27);
  color: #fff;
}


.video-container h2 {
  font-family: serif;
}

.video-container.loading > .loader {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 999;
}

.video-container > .loader {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #000;
}

/* side by side on desktop  */
@media screen and (min-width: 900px) {
  .video-container {
    flex-direction: row;
  }
}

.input_video {
  width: calc(100%);
  height: 100vh;
  inset: 0;
  /* visibility: hidden;
  position: absolute; */
  margin: 20px;
}

.output_canvas {
  width: 100%;
  height: auto;
  border-radius: 20px;
}